<!DOCTYPE html>
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 18b7917c18baef235069b58d4d908207b254f0f7
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <style>
        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
        .header {
            text-align: center;
            margin-bottom: 20px;
        }
        .button-container {
            text-align: center;
        }
        .button-container button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            margin: 10px;
        }
<<<<<<< HEAD

        a{
            color: black;
        }
=======
>>>>>>> 18b7917c18baef235069b58d4d908207b254f0f7
    </style>
</head>
<body>
    <div class="container header">
<<<<<<< HEAD
        <h1>Admin Dashboardss</h1>
        <nav>
            <button><a href="../login">Log Out</a></button>
        </nav>
=======
        <h1>Admin Dashboard</h1>
>>>>>>> 18b7917c18baef235069b58d4d908207b254f0f7
    </div>
    <div class="container button-container">
        <h2>Add New Products</h2>
        <button onclick="location.href='/admin/products'">Add Products</button>
    </div>
<<<<<<< HEAD

=======
    <div class="container button-container">
        <h2>Update Products</h2>
        <button onclick="location.href='/admin/products/update'">Update Products</button>
    </div>
>>>>>>> 18b7917c18baef235069b58d4d908207b254f0f7
    <div class="container button-container">
        <h2>View Available Products</h2>
        <button onclick="location.href='/admin/products/view'">View Products</button>
    </div>
</body>
</html>
<<<<<<< HEAD
=======
=======
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Dashboard</h1>
  <p>Sales Data: <%= salesData %></p>
  <p>Number of Customers: <%= numCustomers %></p>
  <p>Top Sales: <%= topSales %></p>
</body>
</html>
>>>>>>> c85231272cc110049d7fbe01948b9e743d077750
>>>>>>> 18b7917c18baef235069b58d4d908207b254f0f7
